body{
  background-color: whitesmoke;
}
.center {
width: 50%;
margin: 10px auto;
text-align: center;
}

h2 {
  color: #1C82Ad;
  font-family: Alegreya;
}
h1{
  font-family: roboto;
  color: #0b3342;
}
p{
  text-align: justify;
  font-family: montserrat;
  padding: 15px;
}

#info_link{
color: white;
text-decoration: none;
}

.pic{
  border-radius: 50%;
}

#btn{
background-color: #00337c;
border-radius: 5px;
}

#info_link:hover{
  color: aqua;
  background-color: rgb(4, 30, 30);
}

div{
background: white;
padding: 15px;
border-radius: 4px;
box-shadow: 0 10px 30px rgba(0,0,0,.1);
margin: 100px 0;
}

#me{
  text-align: center;
}

ul li {
  list-style: none;
  display: inline;
}

ul{
  padding: 0px;
}
i{
  font-size: 30px;
}

i:hover{
  color: aqua;
}
